@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Version from branch NavBar-firstStile
 .container {
    margin: auto;
    min-width: 360px;
    min-height: 640px;
    max-width: 414px;
    max-height: 896px;
    border: 1px solid black;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    
}

.topNav {
    font-family: 'Satisfy';
    order: 1;
    max-width: 100%;
    min-height: 70px;
    border: 1px solid black;
    border-radius: 18px 18px 0px 0px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
}  .topNav .left {
    order: 1;
    font-size: 27px;
    margin: 15px;
    max-width: fit-content;
    border: 1px solid black;
  border-radius: 18px;
}

.topNav .right {
    order: 2;
    border: 1px solid black;
  border-radius: 18px;
} */

/* .container {
  margin: auto;
  min-width: fit-content;
  min-height: 640px;
  max-width: 414px;
  max-height: 896px;
  border: 1px solid black;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
} */
@keyframes color {
  0% {
    background: #f7fcfc;
  }
  10% {
    background: #33CCCC;
  }

  20% {
    background: #33CC36;
  }

  40% {
    background: #B8CC33;
  }

  60% {
    background: #FCCA00;
  }

  80% {
    background: #33CC36;
  }

  100% {
    background: #010f0f;
  }
}

body {
  background: #33CCCC;
  /* Fallback */
  animation: color 9s infinite linear;
  text-align: center;
  padding: 2em;
}



.container {
  margin: auto;
  min-width: fit-content;
  min-height: 640px;
  max-width: 414px;
  max-height: 600px;
  border: 1px solid black;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: white;
}

.topNav {
  position: sticky;
  top: 0px;
  font-family: "Satisfy";
  order: 1;
  max-width: 100%;
  min-height: 70px;
  border: 1px solid black;
  border-radius: 18px 18px 0px 0px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bottomNav {
  position: sticky;
  top: 530px;
  bottom: 0px;
  order: 3;
  max-width: 100%;
  max-height: 70px;
  border: 1px solid black;
  border-radius: 0px 0px 18px 18px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.bottomNav #bottomNav-userIcon {
  width: 30px;
  border: 3px solid #f877b8;
  overflow: hidden;
  border-radius: 50%;
  height: 30px;
  background: rgb(154, 154, 156);
}

.topNav .left {
  order: 1;
  font-size: 27px;
  margin: 15px;
  max-width: fit-content;
  /* border: 1px solid black;
border-radius: 18px; */
}

.topNav .right {
  order: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*border: 1px solid black;
border-radius: 18px;*/
  padding-top: 20px;
  gap: 20px;
}

.icon {
  height: 30px;
  width: 30px;
}

.postArea::-webkit-scrollbar {
  display: none;
}

.postArea {
  order: 2;
  display: flex;
  flex-direction: column;
  /* flex-flow: column wrap; */
  overflow: auto;
  min-height: 400px;
  max-height: inherit;
  border: 1px solid black;
  /* border-radius: 18px; */
  scrollbar-width: none;
}

.post {

  border-radius: 18px;
  max-height: fit-content;
  max-width: inherit;
}

.post .visuals {
  /* border: 1px solid black; */
  height: 350px;
  margin: 5px;
  border-style: solid;
  border-width: 0.3px 0px 0px 0px;

  border-color: rgba(0, 0, 0, 0.301);

  background: lightcyan;
  display: flex;
  flex-direction: column;


}

.post .captionArea {
  border-style: solid;

  border-width: 0px 0px 0.03px 0px;
  border-color: black;
  opacity: 0.3;



  border-radius: 0px 0px 18px 18px;
  height: 100px;

}

.visuals .visuals-userInfo {
  order: 1;
  background: white;
  top: 0;
  padding: 5px;
  display: flex;
  flex-direction: row;
  max-height: fit-content;
  justify-content: start;
  gap: 2px;
}

.visuals-userInfo #userInfo-stories {
  order: 1;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: grey;
}


.visuals-userInfo #userInfo-handle {
  order: 2;
  height: 20px;
  width: 170px;
  border-radius: 5px;
  background: grey;
}

.visuals-image {
  order: 2;
}

.visuals #visuals-bottomNav {
  order: 3;
  height: 30px;

  gap: 20px;


  background: white;
  display: flex;
  flex-direction: row;

}

.captionArea #likesCounter {
  padding: 8px;

  display: flex;
  flex-direction: row;
  max-height: fit-content;
  justify-content: start;
  gap: 2px;
}

#likesCounter #likesCounter-number {
  order: 1;
  height: 15px;
  width: 30px;
  border-radius: 40%;
  background: grey;
}

#likesCounter #likesCounter-likes {
  order: 2;
  height: 15px;
  width: 70px;
  border-radius: 5px;
  background: grey;
}

.captionArea .comments {
  height: 60px;

}
.comments #caption::-webkit-scrollbar {
  display: none;
}
.comments #caption {
  height: 45px;
  display: flex;
  overflow: scroll;
  scrollbar-width: none;
  flex-direction: column;
}

#caption #text {
  order: 1;
  display: flex;
  height: fit-content;
  flex-direction: row;
  justify-content: start;
}

#text p {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  margin: 0;
  overflow: hidden;
  font-family: "Noto Sans";
  color: black;
  font-weight: 1000;
  width: 400px;
  overflow: auto;
  /*background: grey;*/
}